/*div, span, p, a, nav, footer{
  border: 1px solid black;
}*/

html, body{
  height: 100%;
  font-size: 18px;
  line-height: 1.4rem;
  font-family: Helvetica;
}

/*TOP*/
.top{
  height: 31rem;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  width: 53.33rem;
}

.tab{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
}

.tab span{
  margin: 1rem 2rem 1rem 0rem;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.tab img{
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

.box{
  width: 57.33rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
  max-height: 4.2rem;
}

.box p{
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  background-color: white;
  padding: 1.5rem 5rem;
}

/*IMAGES*/
.middle{
  display: flex;
  justify-content: center;
}

.container.images{
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.icon{
  margin-right: 6rem;
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.paper img{
  width: 3.5rem;
  height: auto;
  display: block;
}

.ruler img{
  max-width: 100%;
  height: auto;
  display: block;
}

.truck img{
  max-width: 100%;
  height: auto;
  display: block;
}

.container.images p{
  text-align: center;
}

/*TEXT*/
.bottom{
  display: flex;
  justify-content: center;
}

.container.text{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5rem;
  padding-left: 5rem;

}

.block{
  width: 35%;
  margin-right: 5%;
}
.block p{
  font-weight: bold;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
}


/*FOOTER*/
footer{
  display: flex;
  justify-content: center;
}

.footer{
  display: flex;
  align-items: center;
  padding: 4rem;
  background-color: azure;
}
.footer img{
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}
